* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   font-family: 'Roboto', sans-serif;
   font-size: 14px;
   width: 100%;
   height: 100vh;
   background-image: linear-gradient(to bottom, #019688 0%, #019688 20%, #DADCD5 20%, #DADCD5 100%);
   display: flex;
}

#app {
   width: 80%;
   height: 94%;
   margin: auto;
   display: flex;
}

#left-col {
   width: 40%;
   display: flex;
   flex-direction: column;
}
#left-col .header {
   border-right: 1px solid #B1B1B1;
}

#right-col {
   width: 60%;
   display: flex;
   flex-direction: column;
}

.header {
   width: 100%;
   height: 80px;
   background-color: #EAEAEA;
   padding: 10px;
}
.header i {
   color: #B1B1B1;
   margin: 0 10px;
   font-size: 20px;
}

.clearfix::after {
   content: "";
   display: table;
   clear: both;
}

.header-left {
   float: left;
   height: 100%;
   display: flex;
   align-items: center;
}

.avatar {
   height: 100%;
   border-radius: 50%;
   background-color: white;
   padding: 5px;
   margin-right: 10px;
}

.header-right {
   float: right;
   height: 100%;
   display: flex;
   align-items: center;
}

.last-visit {
   color: #989898;
   font-size: 12px;
   margin-top: 5px;
}

.last-msg {
   color: #989898;
   font-size: 12px;
   white-space: nowrap;
   width: 100px;
   overflow: hidden;
   text-overflow: ellipsis;
}

#notifications {
   height: 80px;
   background-color: #8EDAFC;
   display: flex;
   align-items: center;
   padding: 10px;
}

#notifications i {
   font-size: 20px;
}

#notifications-text {
   margin-left: 10px;
}

#notifications-text a {
   color: #7b8385;
   font-size: 12px;
}

.circle-icon {
    background: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
    color: #8EDAFC;
}

#search-input {
   background-color: #F1F1F1;
   height: 40px;
   padding: 10px;
   display: flex;
   align-items: center;
}

#search-input i {
   background-color: white;
   color: #B1B1B1;
   border: 1px solid rgb(177,177,177,0.1);
   padding: 8px 12px;
}

#search-input input {
   border: none;
   font-size: 12px;
   padding: 8px 12px;
   width: 100%;
   border: 1px solid rgb(177,177,177,0.1);
}

#chats {
   flex: auto;
   overflow-y: auto;
   background-color: #FFFFFF;
}

.chat {
   padding: 10px;
   height: 70px;
   background-color: #FFFFFF;
   border-top: 1px solid #B1B1B1;
}
.chat-left {
   float: left;
   height: 100%;
   display: flex;
   width: 60%;
}
.chat-right {
   float: right;
   height: 100%;
   width: 40%;
   text-align: right;
}


#chat-content {
   flex: auto;
   padding: 20px 40px;
   background-image: url("https://i.pinimg.com/originals/ab/ab/60/abab60f06ab52fa7846593e6ae0c9a0b.png");
   overflow-y: auto;
}

#chat-bar {
   height: 60px;
   background-color: #F4EEEA;
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding: 5px;
}

#chat-bar input {
   width: 85%;
   height: 90%;
   border: none;
   border-radius: 5px;
   padding: 5px;
}

#chat-bar i {
   font-size: 20px;
   color: #6C7376;
}

.active {
   background-color: #EAEBEB;
}


.msg-box {
   padding: 5px 0;
   word-wrap: break-word;

}

.msg-box-sent{
   text-align: right;

}
.msg-box-received {
   text-align: left;
}

.msg {
   padding: 10px 20px;
   border-radius: 10px;
   width: 40%;
   display: inline-block;
   text-align: left;
}

.msg-text {
   margin-bottom: 5px;
}
.msg-date {
   text-align: right;
   font-size: 10px;
   color: gray;
}
.sent {
   background-color: #D5F9BA;
}
.received {
   background-color: #FFFFFF;
}
