* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   font-family: 'Roboto', sans-serif;
   font-size: 14px;
}



#app {
   height: 100vh;
   border: solid;
   border-width: 20px 180px;
   border-image: linear-gradient(0deg, #DADCD5 85%, #019688 85%) 1;
   display: flex;
}

#chats-container {
   width: 35%;
   display: flex;
   flex-direction: column;
}

.header-top {
   flex-shrink: 0;
   height: 60px;
   background-color: #EAEAEA;
   display: flex;
   justify-content: space-between;
   padding: 5px;
}

.message-area {
   height: 60px;
   background-color: #F4EEEA;
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding: 5px;
}

.message-area input {
   width: 85%;
   height: 90%;
   border: none;
   border-radius: 5px;
   padding: 5px;
}

.message-area i {
   font-size: 20px;
   color: #6C7376;
}


.header-left {
   height: 100%;
   display: flex;
   align-items: center;
}

#username {
   font-weight: bold;
   font-size: 14px;
}

.header-right {
   height: 100%;
   display: flex;
   align-items: center;
}

.header-right i {
   color: #B1B1B1;
   margin: 0 10px;
   font-size: 20px;
}



#notifications {
   flex-shrink: 0;
   height: 80px;
   background-color: #8EDAFC;
   display: flex;
   align-items: center;
   padding: 20px;
}

#notifications-text {
   margin-left: 10px;
}

#notifications-text a {
   color: #7b8385;
   font-size: 12px;
}
.circle-icon {
    background: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
    color: #8EDAFC;
}


#search {
   background-color: #F1F1F1;
   padding: 5px;
   flex-shrink: 0;
}

#search-input {
   display: flex;
   align-items: center;
   border: 1px solid #ccc;
   background-color: white;
}

#search-input input {
   border: none;
   width: 100%;
   margin-right: 10px;
   padding: 8px 10px;
   font-size: 12px;
}

#search-input input:focus {
   outline: none;
}

#search-input i {
   color: #B1B1B1;

   padding: 9px 20px;
   border-right: 1px solid rgb(177,177,177,0.1);
}

#contacts-container {
   overflow-y: auto;
}



#current-chat__container {
   background-color: red;
   width: 65%;
   height: 100%;
   display: flex;
   flex-direction: column;
}


#current-chat__header {
   border-left: 1px solid #B1B1B1;
}
#contacts-container {
   width: 100%;
}
.chat {
   padding: 10px;
   height: 70px;
   background-color: #FFFFFF;
   border-top: 1px solid #B1B1B1;
   display: flex;
   justify-content: space-between;
}


.chat-info {
   height: 100%;
   display: flex;

}
.avatar {
   height: 95%;
   border-radius: 50%;
   background-color: white;
   padding: 5px;
   margin-right: 10px;
}

.av {
   height: 95%;
   border-radius: 50%;
   background-color: white;
   padding: 5px;
   margin-right: 10px;
}

.active {
   background-color: #EAEBEB;
}

.last-time-msg {
   color: #989898;
   font-size: 10px;
   margin-top: 5px;
}

.last-msg {
   color: #989898;
   font-size: 12px;
}

#chat-content {
   flex: auto;
   background-color: yellow;
}
