<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Boolzapp</title>
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
      <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
      <link rel="stylesheet" href="css/style.css">
   </head>
   <body>

   <div id="app">
      <div id="chats-container">
         <div id="header-left" class="header-top">
         </div>
         <div id="notifications">

         </div>
         <div id="search">
            <input id="search-input" type="text" placeholder="Cerca o inizia una nuova chat...">
         </div>
         <div id="contacts-container">
               <div class="chat" v-for="chat in chats"> {{ chat.name }} </div>
               <div class="chat" v-for="chat in chats"> {{ chat.name }} </div>
               <div class="chat" v-for="chat in chats"> {{ chat.name }} </div>
         </div>
      </div>
      <div id="right-container">
         <div id="header-right" class="header-top">

         </div>
      </div>
   </div>
   <script src="main.js" charset="utf-8"></script>
   </body>
</html>
