<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Boolzapp</title>
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
      <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
      <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
      <link rel="stylesheet" href="css/style.css">
   </head>
   <body>
      <div id="app">
         <div id="left-col">
            <!-- Header -->
            <div class="header clearfix">
               <div class="header-left">
                  <img class="avatar" :src="imgUrl + user.avatar + '.png'" alt="">
                  <p><b>{{ user.name }}</b></p>
               </div>
               <div class="header-right">
                  <i class="fas fa-circle-notch"></i>
                  <i class="fas fa-comment-alt"></i>
                  <i class="fas fa-ellipsis-v"></i>
               </div>
            </div>
            <!-- Notifications -->
            <div id="notifications">
               <i class="fas fa-bell-slash circle-icon"></i>
               <div id="notifications-text">
                  <p>Ricevi notifiche di nuovi messaggi</p>
                  <a href="#">Attiva notifiche desktop</a>
               </div>
            </div>
            <!-- SearchInput -->
            <div id="search-input">
               <i class="fas fa-search"></i>
               <input v-model="searchText" type="text" placeholder="Cerca o inizia una nuova chat...">
            </div>
            <!-- Chats -->
            <div id="chats">
               <div
               class="chat clearfix"
               v-show="chats[item].visible"
               :class="{active: currentChatIndex == item}"
               @click="changeCurrentChat(item)"
               v-for="(item, index) in filterByName">

                  <div class="chat-left">
                     <img class="avatar" :src="imgUrl + chats[item].avatar + '.png'">
                     <div>
                        <p>{{chats[item].name}}</p>
                        <p class="last-msg">{{chats[item].messages[chats[item].messages.length - 1].text}}</p>
                     </div>

                  </div>
                  <div class="chat-right">
                     <p class="last-visit">{{chats[item].messages[chats[item].messages.length - 1].date}}</p>
                  </div>
               </div>

            </div>
         </div>

         <!-- Right Column -->
         <div id="right-col">
            <!-- Header -->
            <div class="header clearfix">
               <div class="header-left">
                  <img class="avatar" :src="imgUrl + chats[currentChatIndex].avatar + '.png'" alt="">
                  <div>
                     <p>{{chats[currentChatIndex].name}}</p>
                     <p class="last-visit">Ultimo accesso oggi alle {{chats[currentChatIndex].messages[0].date}}</p>
                  </div>
               </div>
               <div class="header-right">
                  <i class="fas fa-search"></i>
                  <i class="fas fa-paperclip"></i>
                  <i class="fas fa-ellipsis-v"></i>
               </div>
            </div>
            <!-- Messages -->
            <div id="chat-content">
               <div class="msg-box" :class="'msg-box-' + message.status" v-for="message in chats[currentChatIndex].messages">
               <div class="msg" :class="message.status">
                  <div class="msg-text">{{ message.text }}</div>
                  <div class="msg-date">{{ message.date }}</div>
               </div>
               <div  class="message-info"></div>
            </div>
            </div>
            <!-- Char bar -->
            <div id="chat-bar">
               <i class="far fa-smile"></i>
               <input
               @keyup.enter="sendMessage($event)"
               type="text"
               placeholder="Scrivi un messaggio">
               <i class="fas fa-microphone"></i>
            </div>
         </div>
      </div>
      <script src="main.js" charset="utf-8"></script>
   </body>
</html>
